*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/fabric.properties
app/src/development/google-services.json
app/src/production/google-services.json
app/*.apk